html, body
{
	line-height: 1.8;
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	width: 100%;
	overflow-x: hidden;


}

#container 
{
	display: flex;
	flex-wrap: wrap;
	
}

#blocdegauche
{
	background-color: #005a87;
	width: 35%;
	color: white;
	flex-basis: 35%;

	
}

#divimg img
{
	border-radius: 50%;
	
}

#blocdedroite 
{
	background-color: #fff;
	width: 65%;
	flex-basis: 65%;
}

@media screen and (max-width: 640px)
{
	#blocdegauche
	{
		flex-basis: 100%;

	
	}

	#blocdedroite
	{
		flex-basis: 100%;
	}


  	* {
		box-sizing: border-box;
	}
	


	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	

	img {
		height: auto;
		max-width: 100%;
	}



	.hide_mobile {
		display: none !important;
	}
	



}




body 
{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: lightgrey;
        width: 80%;
        box-shadow: 3px 3px 10px grey;


}

#blocdedroite div
{
	padding: 10px;
	margin: 15px;
	box-shadow: 1px 1px 10px grey;
	background-color: #FFFAFA;
	border-radius: 10px;
}

#blocdedroite #un
{
	
	padding-top: 1px;
	text-align: center;
}

#blocdedroite #deux #trois #quatre #cinq {
	padding-top: 1px;
}

#divimg
{
	
	text-align: center;
	padding: 20px;

}

#divcontact
{

	padding: 20px;
	list-style-type: none;
	position: initial;
	padding-left: 40px;

}
#divcontact ul 
{
	max-width: 100%;
}

#divnom
{
	padding: 20px;
	padding-left: 40px;
}

#divformation
{
	padding: 20px;
	padding-left: 40px;
}

#divlangues
{
	padding: 20px;
	padding-left: 40px;
}

.liste
{
	display: flex;

}
.texte ul li
{
	padding-bottom: 50px;
}

#divlangues ul
{
	list-style-type: none;
}

footer
{
	background-color: lightblue;
	text-align: center;
	width: 100%;
}

#divimg, #divnom, #divcontact, #divformation
{
	border-bottom: 2px solid lightblue;
}



*{
	max-width: 100%;
}

#dflex
{
	display: flex;
}

#dflex ul 
{
	padding-right: 20px;

}


.liste ul li img {


	width: 60px;
}

.liste ul li img:hover
{
	width: 75px;
}

#divimg img:hover
{
	width: 100%;
}
.liste ul {
	
	padding: 10px;

}

.liste li {
	padding-bottom: 20px;
}


.liste .ultexte li{
	
	margin-top: 20px;
}

.liste .ultexte .deux
{
	padding-top: 15px;
}

.liste .ultexte .trois
{
	padding-top: 20px;
}

.liste .ultexte .quatre
{
	padding-top: 25px;
}

.liste {
	font-size: 1em;

}

.ultexte, .icone{
	list-style-type: none;
}

#divlangues ul {
	padding: 10px;
}

#divlangues ul li img {
	position: center;
}

#divlangues span{
	padding-left: 10px;
}

.decaler {
	padding-left: 30px;
}

.blue {
	color: lightblue;
}
